1.0 Set up Google Colaboratory notebook to use SQLite relational database

In [ ]:
# Import SQLite3 Module
import sqlite3

2.0 Use the CREATE command (DDL) to create a Database (db) Object

In [ ]:
# Create a database connection object, dco
# Using the connect() function to connect SQLite3
# Simultaneously, ask it to create an empty database,
# Name it "READMISSIONSJEARTFAILURE", if it doesn't exist already
dco=sqlite3.connect('READMISSIONSHEARTFAILURE.db')

Create a cursor object, co, to interface between the SQL database and the SQL query

In [ ]:
# For query execution, create a cursor object, co, using the cursor() function
# This is to provide a connection between the SQLite database and SQL query
co=dco.cursor()
print('Cursor object, co, for query execution, has been created')

Cursor object, co, for query execution, has been created

In [ ]:
# Create an empty table to go in the new database using the CREATE command
# To create a new table, it's good to practice to specify for each column
# at least 3 items:
# 1) The name of the column in PascalCase. Ex: ProviderID for 1st column
# 2) The data type. Ex: VARCHAR(50) for 1st column.
# 3) The null designation or blank or no blank. Ex: NULL blank for 1st column
# As shown below, the table starts with 3 columns: ProviderID, RatesFromHF, NumberHFPatientsReadmitted
# To do that, first, define a new function named, empty_table_creation()
# Use 3 double-quotations ("") for multiple lines instead of using \n for new lines
def empty_table_creation():co.execute("""CREATE TABLE IF NOT EXISTS HFReadmissions
(ProviderID VARCHAR (50) PRIMARY KEY NOT NULL, RatesFromHF float NOT NULL,
NumberHFPatientsReadmitted int NOT NULL);""")

In [ ]:
# Execute the empty_table_creation() function
empty_table_creation()

2.1. Use ALTER command (DDL) to change
structure of the new table

In [ ]:
# Add a new column, State, to the table, HFReadmissions
# Then, display the tables to see the changes
# But, first define the alteration function
# To enable the addition of the new column, State
def empty_table_alter():co.execute("""ALTER TABLE HFReadmissions ADD State char (50) NOT NULL;""")

In [ ]:
#Execute the empty_table_alter()function
# Add new column, State, to the table, HFReadmissions
empty_table_alter()

In [ ]:
# Now, the table has 4 columns: ProviderID, RatesfromHF, NumberHFPatientsReadmitted, State

3.0 Use the INSERT command (DML)
to add values or data into the table

In [ ]:
# Define a new function named, data_values_insertion() to allow you to insert or data into the new table
# Values/Data are fictious
# Use 3 double-quotations("""") for multiple lines instead of using \n for new lines
def data_values_insertion():
    co.execute(""" INSERT INTO HFReadmissions
    (ProviderID, RatesFromHF, NumberHFPatientsReadmitted, State)
    VALUES
    ('17894G', 24.6, 115, 'AL'),
    ('56148H', 22.8, 51, 'WY'),
    ('57436I', 16.9, 35, 'PR'),
    ('10723J', 18.3, 298, 'KS'),
    ('34502K', 14.6, 135, 'ID'),
    ('59911L', 20.2, 455, 'LA'),
    ('11995M', 17.0, 190, 'ME'),
    ('99543N', 16.1, 100, 'MA'),
    ('34502Q', 17.5, 315, 'FL'),
    ('59911P', 19.7, 550, 'FL');""")

In [ ]:
# Run the data_values_insertion() function to insert data into the empty table, HFReadmissions
data_values_insertion()

In [ ]:
# Use commit() to save the values/data entered
dco.commit()

In [ ]:
# Use below codes to check to see data that have been entered
# import pandas library
import pandas as pd

In [ ]:
# Use pd.read_sql_query to read the data/values you inserted in the table in data frame format
# Create a new memory or variable, readmdata to put the data frame in
readmdata = pd.read_sql_query("SELECT*FROM HFReadmissions;",dco)

In [ ]:
# Display the contents of the HFReadmissions table using the print() function
print(readmdata)

  ProviderID  RatesFromHF  NumberHFPatientsReadmitted State
0     17894G         24.6                         115    AL
1     56148H         22.8                          51    WY
2     57436I         16.9                          35    PR
3     10723J         18.3                         298    KS
4     34502K         14.6                         135    ID
5     59911L         20.2                         455    LA
6     11995M         17.0                         190    ME
7     99543N         16.1                         100    MA
8     34502Q         17.5                         315    FL
9     59911P         19.7                         550    FL

In [ ]:
# Display only the data for ProviderID, 34502K, Idaho(ID)
idahodta = pd.read_sql_query("""SELECT ProviderID, RatesFromHF, NumberHFPatientsReadmitted, State FROM HFReadmissions WHERE ProviderID='34502K';""",dco)
print(idahodta)

  ProviderID  RatesFromHF  NumberHFPatientsReadmitted State
0     34502K         14.6                         135    ID

3.1 Use the UPDATE command (DML) to
change values or data in the table

In [ ]:
#Change State FL to TN
# First, define the update function to change the State to TN, where FL have been entered
def data_table_update(): co.execute("""UPDATE HFReadmissions SET State='TN' WHERE State='FL';""")

In [ ]:
#Execute the update function
data_table_update()

In [ ]:
# Use the commit() to save the values/data entered
dco.commit()

4.0 Use the SELECT command (DQL) to
fetch all data including changed ones

In [ ]:
# Use pd.read_sql_query to read records as you inserted in the table in data frame format
# Create a new memory or variable, hospreadmdata to put the data frame in
hospreadmdata = pd.read_sql_query("SELECT*FROM HFReadmissions;",dco)

In [ ]:
# Display the contents of the HFReadmissions including the updates
print(hospreadmdata)

  ProviderID  RatesFromHF  NumberHFPatientsReadmitted State
0     17894G         24.6                         115    AL
1     56148H         22.8                          51    WY
2     57436I         16.9                          35    PR
3     10723J         18.3                         298    KS
4     34502K         14.6                         135    ID
5     59911L         20.2                         455    LA
6     11995M         17.0                         190    ME
7     99543N         16.1                         100    MA
8     34502Q         17.5                         315    TN
9     59911P         19.7                         550    TN

5.0. Convert the dataframe into CSV file
and download it

In [ ]:
from google.colab import files

In [ ]:
# Convert hospreadmdata frame into a CSV file
hospreadmdata.to_csv('hospreadmdata.csv')

In [ ]:
# Download hospreadmdata CSV file to your local file system or your downloads folder
files.download('hospreadmdata.csv')